/* styles.css */
@import url("https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* global variable */
:root {
  --fs-header: 47.78px;
  --fs-h2: 39.91px;
  --fs-h3: 33.18px;
  --fs-h4: 27.65px;
  --fs-h5: 23.04px;
  --fs-h6: 19.2px;
  --fs-paragraph: 16px;
  --fs-small: 13.33px;

  --fc-primary-orange: #F1950C;
  --fc-dark-orange: #D4830B;
  --fc-mid-orange: #FCD59A;
  --fc-light-orange: #FFEBCD;
  --fc-black: #222222;

  --clr-primary: #F1950C;
  --clr-secondary: #D34746;
  --clr-action: #328032;

  --clr-dark-orange: #D4830B;
  --clr-mid-orange: #FCD59A;
  --clr-light-orange: #FFEBCD;
  --clr-black: #222222;

  --ff-title: "Rammetto One", serif;
  --ff-text: "Open Sans", serif;
}

.rammetto-one {
  font-family: "Rammetto One", serif;
  font-weight: 400;
  font-style: normal;
}

.open-sans-text {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.navbar {
  height: 79.1px;
  /* Set the height of the navbar */
}

.title {
  font-family: var(--ff-title);
  font-size: var(--fs-header);
  color: var(--fc-primary-orange);
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-top: 36px;
}

.description {
  font-family: var(--ff-text);
  font-size: var(--fs-h6);
  color: var(--fc-primary-orange);
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
}

.container .explore {
  font-family: var(--ff-text);
  color: var(--clr-secondary);
  font-size: var(--fs-h3);
  font-weight: bold;
  margin-top: 72px;
}

.container .custom-btn {
  margin-left: 30px;
  margin-top: 77px;
}

.custom-btn {
  background-color: var(--clr-secondary);
  color: #FFFFFF;
  font-family: var(--ff-text);
  height: 50px;
  width: 120px;
  font-size: var(--fs-paragraph);
  font-weight: bold;
  border: none;
  border-radius: 42px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.col-12-catbuttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.custom-btn:hover {
  background-color: var(--clr-dark-orange);
  transform: scale(1.05);
}

.custom-btn:focus {
  outline: none;
}

.button-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.card {
  width: 100%;
  max-width: 780px;
  min-height: 250px;
  height: auto;
  margin: 0 auto;
  border-radius: 15px !important;
  overflow: hidden;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: row;
}

.card:hover {
  transform: scale(1.02);
}

.card-body {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-title {
  font-family: var(--ff-text);
  font-size: var(--fs-h6);
  margin-bottom: 20px;
  font-weight: bold;
  margin-top: 25px;
}

.card-text {
  font-family: var(--ff-text);
  font-size: var(--fs-paragraph);
  margin-top: -15px;
}

.content-bg {
  background-color: var(--clr-secondary);
}

.img-fluid {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.category {
  border: 2px solid var(--clr-secondary);
  color: var(--clr-secondary);
  border-radius: 50rem;
  padding: 0.25em 0.75em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-paragraph);
  font-weight: bold;
  white-space: nowrap;
}


/*ANG NAGAMIT LANG NITO AY (RECIPE-VIEW)*/
/* Remove underline from links */
.no-underline {
  text-decoration: none;
}

.no-underline:hover,
.no-underline:focus {
  text-decoration: none;
  /* Ensure no underline on hover or focus */
}

.recipe-title {
  font-family: var(--ff-text);
  font-weight: bold;
  margin-top: 40px;
  margin-left: auto;
  max-width: 8500px;
  margin-right: auto;
}

.category-title {
  font-family: var(--ff-text);
  color: var(--fc-primary-orange) !important;
  font-size: var(--fs-h6);
  margin-left: 10px;
}

.dish-title {
  font-family: var(--ff-text);
  font-size: var(--fs-h4);
  margin-left: 10px;
}

.recipe-description {
  font-family: var(--ff-text);
  font-size: var(--fs-paragraph);
  margin-left: 10px;
}

.custom-like-btn,
.custom-bookmark-btn {
  background-color: var(--clr-primary);
  border: transparent;
  border-radius: 5px;
  margin-right: 20px;
  height: 40px;
  width: 40px;
}

.custom-report-btn {
  background-color: #8E1D1C;
  border: transparent;
  border-radius: 5px;
  height: 40px;
  width: 40px;
}

.recipe-card {
  background-color: var(--clr-mid-orange) !important;
  border-radius: 45px !important;
  overflow: hidden;
  margin-top: 5px;
}

.recipe-card-img-top {
  border-top-left-radius: 64px !important;
  border-top-right-radius: 64px !important;
  padding: 20px 20px 0 20px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.custom-viewall-btn {
  background-color: var(--clr-secondary);
  color: #FFFFFF;
  font-family: var(--ff-text);
  font-weight: bold;
  text-align: middle;
  padding-top: 10px;
  height: 50px;
  width: 350px;
  font-size: var(--fs-h5);
  border: none;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.dropdown .recipe-sortby {
  background-color: var(--clr-primary);
  border-radius: 40px;
  font-family: var(--ff-text);
  font-weight: bold;
  font-size: var(--fs-h6);
}

.explore-recipe {
  font-family: var(--ff-text);
  font-size: var(--fs-h2);
  font-weight: bold;
}

.buttons {
  display: flex;
  gap: 10px;
}

.button-col-6 {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  width: 100%;
}

.button-col-6 .custom-report-btn {
  margin-left: auto;
}