.nav-body {
    overflow: hidden;
}

.navbar-brand.logo {
    display: flex;
    align-items: center;
    padding-left: 32px;
    width: fit-content;
    overflow: hidden;
}

.nav-txt-clr {
    font-family: var(--ff-title);
    font-size: var(--fs-paragraph);
    color: var(--fc-dark-orange);
    margin-top: 12px;
}

.navbar-nav {
    margin-left: 31px;
    padding-top: 16px;
    padding-bottom: 16px;
    gap: 30px;
}

.btn-search {
    background-color: var(--clr-primary);
    color: var(--fc-light-orange);
    text-align: center;
    border-radius: 40px;
    margin-left: 452px;
    width: 120px;
    height: 40px;
}

.btn-search a {
    font-family: var(--ff-text);
    font-size: var(--fs-paragraph);
    color: var(--fc-light-orange);
    text-decoration: none;
    font-weight: bolder;
}

.btn-search:hover {
    font-family: var(--ff-title);
    font-size: var(--fs-paragraph);
    color: var(--fc-dark-orange);
    background-color: var(--clr-mid-orange);
}

.user-dropdown .user-btn {
    font-family: var(--ff-text);
    font-size: var(--fs-paragraph);
    background-color: var(--clr-primary);
    color: var(--fc-light);
    border-radius: 40px 0px 0px 40px;
    margin-left: 25px;
    width: 99.5px;
    height: 40px;
}

.user-dropdown .dropdown-toggle {
    font-family: var(--ff-text);
    font-size: var(--fs-paragraph);
    color: var(--fc-light-orange);
    background-color: var(--clr-dark-orange);
    border-radius: 0px 40px 40px 0px;
    padding-left: -4px;
}

.user-dropdown .user-dropdown-menu {
    font-family: var(--ff-text);
    font-size: var(--fs-small);
    color: var(--fc-light-orange);
    background-color: var(--clr-primary);
    font-weight: bolder;
    width: 224px;
}

.user-dropdown p {
    font-family: var(--ff-text);
    font-size: var(--fs-paragraph);
    color: var(--fc-light-orange);
    padding-top: 2px;
    font-weight: bolder;
}

.user-dropdown a {
    font-family: var(--ff-text);
    font-size: var(--fs-small);
    color: var(--fc-light-orange) !important;
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
    font-weight: bolder;
}

.user-dropdown-menu a:hover {
    background-color: var(--clr-dark-orange);
    color: var(--fc-light);
}

.offcanvas {
    background-color: var(--clr-light-orange);
    border-radius: 0 0 80px 80px;
    height: 160px !important;
    overflow: visible;
}

.offcanvas-body {
    padding-top: 42px;
    overflow: visible;
}

.search-input {
    flex: 1;
    border-radius: 40px;
    border: 4px solid var(--clr-primary);
    background-color: transparent;
    width: 100%;
    max-width: 400px;
    min-width: 40% !important;
    height: 64px;
    outline: none;
}

.search-input::placeholder {
    font-family: var(--ff-text);
    color: var(--clr-black);
    font-weight: 100px;
    padding-left: 20px;
}

.btn-enter-search {
    color: var(--fc-light-orange);
    background: var(--clr-primary);
    border-radius: 40px;
    border: none;
    cursor: pointer;
    width: 128px;
    height: 64px;
    margin-left: 16px;
    text-decoration: none;
}

.btn-enter-search p {
    font-family: var(--ff-title);
    font-size: var(--fs-paragraph);
    color: var(--fc-light-orange);
    text-align: center;
    padding-top: 20px;
}

.btn-recipe {
    border: 4px solid var(--clr-primary);
    background-color: var(--clr-primary);
    border-radius: 40px 0px 0px 40px;
    width: 128px;
    height: 64px;
    margin-left: 64px;
    text-decoration: none;
}

.btn-recipe:hover {
    border: 4px solid var(--clr-primary);
    background-color: var(--clr-primary);
    color: var(--fc-dark-orange);
    border-radius: 40px 0px 0px 40px;
    width: 128px;
    height: 64px;
    margin-left: 64px;
    text-decoration: none;
}

.btn-recipe p {
    font-family: var(--ff-text);
    font-size: var(--fs-paragraph);
    color: var(--fc-light-orange);
    text-align: center;
    padding-top: 12px;
    text-decoration: none;
    font-weight: bolder;
}

.btn-gallery {
    border: 4px solid var(--clr-primary);
    background-color: var(--clr-light-orange);
    border-radius: 0px 40px 40px 0px;
    width: 128px;
    height: 64px;
    margin-left: -4px;
    text-decoration: none;
}

.btn-gallery:hover {
    border: 4px solid var(--clr-primary);
    background-color: var(--clr-primary);
    border-radius: 0px 40px 40px 0px;
    margin-left: -4px;
    text-decoration: none;
}

.btn-gallery p {
    font-family: var(--ff-text);
    font-size: var(--fs-paragraph);
    color: var(--fc-primary-orange);
    text-align: center;
    padding-top: 12px;
    font-weight: bolder;
}

.btn-group {
    border: var();
}

.btn-rec-gal {
    position: relative;
}

.btn-category {
    color: var(--fc-light-orange);
    background-color: var(--clr-primary);
    border: none;
    border-radius: 40px;
    width: 120px;
    height: 64px;
    margin-left: 40px;
}

.btn-category:hover {
    color: var(--fc-light-orange);
    background-color: var(--clr-primary);
    border: none;
    border-radius: 40px;
    width: 120px;
    height: 64px;
    margin-left: 40px;
}

.btn-category-split {
    background-color: var(--clr-dark-orange);
    border-radius: 0px 40px 40px 0px;
    width: 64px;
    height: 64px;
    margin-left: -4px;
}

.btn-category-split:hover {
    font-size: var(--fs-paragraph);
    color: var(--fc-dark-orange);
    background-color: var(--clr-mid-orange);
}

.btn-category p {
    font-family: var(--ff-text);
    font-weight: bolder;
    font-size: var(--fs-paragraph);
    color: var(--fc-light-orange);
    text-align: center;
    padding-top: 16px;
}

.dropdown-category {
    overflow: hidden;
    font-family: var(--ff-text);
    font-size: var(--fs-paragraph);
    color: var(--fc-black);
    background-color: var(--clr-light-orange);
    width: 260px;
    border: none;
}

.dropdown-category p {
    font-weight: bolder;
    margin-left: 8px;
}

.form-check {
    font-family: var(--ff-text);
    margin-left: 16px;
}

.form-check-label {
    font-family: var(--ff-text);
    font-size: var(--fs-small);
    color: var(--fc-black);
}

.user-dropdown-menu a {
    font-family: var(--ff-text);
    font-size: var(--fs-paragraph);
    color: var(--fc-black);
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
}

@media only screen and (max-width: 412px) {
    .offcanvas {
        height: auto !important;
    }

    .search-input {
        width: 100%;
        max-width: 100%;
        min-width: 40% !important;
        height: 36px;
        font-size: 12px;
        margin-bottom: 10px;
        position: absolute;
    }

    .btn-enter-search {
        width: auto;
        height: 36px;
        font-size: 12px;
        display: inline-block;
        margin-left: 5px;
    }

    .btn-group.btn-rec-gal {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 10px;
        width: auto;
        height: auto;
    }

    .btn-recipe,
    .btn-gallery,
    .btn-category,
    .btn-category-split {
        width: auto;
        height: 36px;
        font-size: 12px;
        text-align: center;
    }

    .btn-recipe {
        width: auto;
        border-radius: 40px 40px 0 0;
    }

    .btn-gallery {
        width: auto;
        border-radius: 0;
    }

    .btn-category {
        width: auto;
        border-radius: 0 0 40px 40px;
    }

    .dropdown-category {
        text-align: center;
        border-radius: 0;
    }

    .btn-category-split {
        width: auto;
        height: 36px;
        font-size: 12px;
        text-align: center;
    }

    .form-check-label {
        font-size: 10px;
    }

    .btn-group .btn {
        font-size: 12px;
        height: auto;
    }

    .btn-category {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 1024px) {
    .navbar-nav {
        flex-direction: row-reverse;
        align-items: center;
        gap: 8px;
    }

    .btn-search {
        width: 70%;
        margin-left: 0;
        font-size: 14px;
    }

    .navbar-toggler {
        margin-right: 8px;
    }

    .offcanvas-body {
        padding-top: 12px;
    }

    .user-dropdown .user-btn {
        width: 100%;
        font-size: 14px;
    }

    .user-dropdown .dropdown-toggle {
        width: 100%;
        font-size: 14px;
    }

    .btn-group {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .btn-recipe,
    .btn-gallery,
    .btn-category,
    .dropdown-category {
        width: 124px;
        max-width: 400px;
        height: 40px;
        font-size: 12px;
    }
}