.result {
    font-family: var(--ff-text);
    font-size: var(--fs-h3);
    font-weight: bolder;
    color: var(--fc-black);
}

.card {
    background-color: #FFF8EE;
    font-family: var(--ff-text);
    border-radius: 16px;
    height: 230px !important;
}

.recipe-img .img-fluid {
    object-fit: fill;
    height: 100%;
    border-radius: 16px 0px 0px 16px;
}

.recipe-img {
    width: 100%;
    height: 230px;
    border-radius: 16px 0px 0px 16px;
}

.card-title {
    font-size: var(--fs-h6);
    font-weight: bolder;
}

.card-text {
    font-size: var(--fs-small);
}

.card-primary-category,
.card-sub-category {
    font-size: 12px;
    color: #FFFFFF;
    font-weight: bolder;
}

.card-primary-category {
    background-color: var(--clr-secondary);
    width: 80px;
    height: 32px;
    border-radius: 40px;
}

.card-sub-category {
    background-color: var(--clr-primary);
    width: 80px;
    height: 32px;
    border-radius: 40px;
}

.btn-like, .btn-bookmark {
    background-color: var(--clr-primary);
    width: 40px;
    height: 40px;
}

.btn-report {
    background-color: var(--clr-secondary);
    width: 40px;
    height: 40px;
}

.btn-like:hover, .btn-bookmark:hover {
    background-color: var(--clr-primary);
    width: 40px;
    height: 40px;
}

.btn-report:hover    {
    background-color: var(--clr-secondary);
    width: 40px;
    height: 40px;
}

.modal-content {
    background-color: var(--clr-light-orange);
}

.modal-title {
    font-family: var(--ff-text);
    font-weight: bolder;
}

.modal-body {
    font-family: var(--ff-text);
}

.modal-body p {
    font-size: var(--fs-small);
    font-weight: bolder;
}

.btn-submit-report {
    font-family: var(--ff-text);
    font-weight: bold;
    color: var(--clr-light-orange);
    background-color: var(--clr-primary);
}

.btn-cancel-report {
    font-family: var(--ff-text);
    font-weight: bold;
    color: var(--clr-light-orange);
    background-color: var(--clr-secondary);
}

@media only screen and (max-width: 780px) {
    .card {
        border-radius: 16px 16px 0px 0px;
    }

    .recipe-img .img-fluid{
        border-radius: 16px 16px 0px 0px;
    }

}