.signup-body {
  background-color: var(--clr-light-orange);
}

.pic {
  margin: 0px;
  padding: 0px;
  width: 710px;
  height: 1024px;
  overflow: hidden;
}

.text-start.create {
  font-family: var(--ff-text);
  font-size: var(--fs-header);
  margin-left: 16px;
  font-weight: bolder;
}

.text-start.sign-up {
  font-family: var(--ff-text);
  font-size: var(--fs-paragraph);
  margin-left: 17px;
  margin-bottom: 0px;
  font-weight: bolder;
}

.sign-up-logo {
  margin-top: 16px;
  margin-bottom: 20px;
  width: 280px !important;
  height: 80px !important;
  margin-left: 16px;
}

.form-control {
  background-color: var(--clr-white);
  width: 50%;
  height: 48px;
  margin-left: 16px;
  margin-top: 3px;
  border-radius: 40px;
  border: 4px solid var(--clr-primary);
  position: relative;
}

.form-control:focus {
  background-color: var(--clr-white);
  margin-left: 16px;
  margin-top: 3px;
  border-radius: 40px;
  border: 4px solid var(--clr-primary);
}

.form-label {
  font-family: var(--ff-text);
  font-size: var(--fs-paragraph);
  color: var(--fc-black);
  margin-left: 20px;
  margin-top: 16px;
  font-weight: bolder;
}

.form-check {
  margin-left: 16px;
}

.form-check-input {
  border: 2px solid var(--clr-primary);
}

.form-check-label {
  font-family: var(--ff-text);
  font-size: var(--fs-small) !important;
  font-weight: bolder;
  width: 70%;
}

.btnSignUp {
  background-color: var(--clr-primary);
  width: 50%;
  height: 56px !important;
  border-radius: 40px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnSignUp:hover {
  background-color: var(--clr-dark-orange);
  border-radius: 40px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.btnSignUp p {
  font-family: var(--ff-text);
  font-weight: bolder;
  font-size: var(--fs-h5);
  color: var(--fc-light-orange);
  padding: 0;
  margin: 0;
}

.txt-account {
  font-size: var(--fs-small);
  font-weight: bolder;
  font-family: var(--ff-text);
}

.txt-account a {
  text-decoration: none;
  color: var(--fc-primary-orange);
}

@media (max-width: 768px) {
  .pic {
    width: 50%;
    height: auto;
  }

  .sign-up-logo {
    width: auto;
    height: auto;
    margin-top: 16px;
  }

  .form-control {
    width: auto;
    margin-left: 0;
  }

  .btnSignUp {
    width: 100%;
    height: 24px;
    margin-left: 0;
  }

  .text-start.create,
  .text-start.sign-up {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }

  .txt-account {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .pic {
    display: none;
  }
}