
/* global variable */
:root{
    --fs-header: 47.78px;
    --fs-h2: 39.91px;
    --fs-h3: 33.18px;
    --fs-h4: 27.65px;
    --fs-h5: 23.04px; 
    --fs-h6: 19.2px;
    --fs-paragraph: 16px; 
    --fs-small: 13.33px;

    --fc-primary-orange: #F1950C;
    --fc-dark-orange: #D4830B;
    --fc-mid-orange: #FCD59A;
    --fc-light-orange: #FFEBCD;
    --fc-white: #FFF8EE;
    --fc-black: #222222;

    --clr-primary: #F1950C;
    --clr-secondary: #D34746;
    --clr-action: #328032;

    --clr-dark-orange: #D4830B;
    --clr-mid-orange: #FCD59A;
    --clr-light-orange: #FFEBCD;
    --clr-white: #FFF8EE;
    --clr-black: #222222;

    --ff-title: "Rammetto One", sans-serif;
    --ff-text: "Open Sans", sans-serif;
}

.rammetto-one {
    font-family: "Rammetto One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


.open-sans-text {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

