/* global variable */
:root {
  --fs-header: 47.78px;
  --fs-h2: 39.91px;
  --fs-h3: 33.18px;
  --fs-h4: 27.65px;
  --fs-h5: 23.04px;
  --fs-h6: 19.2px;
  --fs-paragraph: 16px;
  --fs-small: 13.33px;

  --fc-primary-orange: #f1950c;
  --fc-dark-orange: #d4830b;
  --fc-mid-orange: #fcd59a;
  --fc-light-orange: #ffebcd;
  --fc-black: #222222;

  --clr-primary: #f1950c;
  --clr-secondary: #d34746;
  --clr-action: #328032;

  --clr-dark-orange: #d4830b;
  --clr-mid-orange: #fcd59a;
  --clr-light-orange: #ffebcd;
  --clr-black: #222222;

  --clr-red: #8E1D1C;
  --clr-light-red: #F29B9A;

  --ff-title: "Rammetto One", serif;
  --ff-text: "Open Sans", serif;
}

.rammetto-one {
  font-family: "Rammetto One", serif;
  font-weight: 400;
  font-style: normal;
}

.open-sans-text {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}